<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.cotedem.com/public/img/favicon.png" rel="icon">

     </head>

  <body class="nav-md footer_fixed" >

<img src="https://www.cotedem.com/public/img/accesoprohibido.jpg" border="0" alt="Acceso Prohibido" style="max-width:100%;width:auto;height:auto;">

 </body>
</html>